.dialogclass{
    background-color: rgb(226, 237, 240);
}

label{
    color: rgb(9, 115, 177);

}

.btn {
    
    flex: 1 1 auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(9, 115, 177);
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
   }

   #txt1{
    color: rgb(9, 115, 177);
    border: 1px solid  rgb(9, 115, 177);
 
}

   
  