<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
  
  <!-- Map Div -->
<div id="mapArea" #mapViewNode></div>

<div id="editArea" class="editArea-container" #expandView>
  <div id="addFeatureDiv">
    <h3 class="list-heading">Add location</h3>
    <ul style="font-size: 13px; padding-left: 1.5em;">
      <li>Click Add location button</li>
      <li>Click on the map to add location</li>
    </ul>
    <input type="button" class="edit-button" value="Add location" id="btnAddFeature" (click)="addClick()">
    <div id="boundErrorArea">
      <label class="err">Location is outside indian boundary</label>
    </div>
  </div>

  <div id="updateInstructionDiv" style="text-align:center" #updateInstructionDiv>
    <p class="or-wrap"><span class="or-text">Or</span></p>
    <p>Select a location to edit or delete.</p>
  </div>

  <div id="featureUpdateDiv" style="display:none; margin-top: 1em;" #featureUpdateDiv>
    <h5 class="list-heading">Enter the location information</h5>
    
    <div id="attributeArea">
      <form [formGroup]="userForm">
      <label for="inputDescription" >Name:</label>
      <input  formControlName="name" class="inputInfo" type="text" id="inputDescription" placeHolder="Enter description" ><br>
      <label for="inputUserInfo" >Contact:</label>
      <input type="button" class="edit-button" value="Update incident info" id="btnUpdate" (click)="updateClick()">
      </form>
    </div>

    <div id="deleteArea">
      <input type="button" class="edit-button" value="Delete location" id="btnDelete" (click)="deleteClick()">
    </div>
  </div>
</div>
